.letter-link {
    margin-right: 10px;
}
.page-link {
    box-shadow: 1px 1px  #ccc;
   
}
.pagination {
    justify-content: center;
    margin-top: 20px;
}

.form-select, .form-control {
    outline: none;
    text-decoration: red; 
    border: none; 
    box-shadow: none;
    border-radius: 20; 
    background-color: #f8f9fa; 
    color: #495057;
}
.documento_title_inicio {
    text-decoration: none;
    color: #28AECE;
}
.letter-link {
    text-decoration: none;
}
.resumen {
    text-align: justify;
}

.btn-outline-secondary {
    text-decoration: none; 
}

.btn-link {
    text-decoration: none; 
    color: #007bff; 
}

.imgdocumento {
    border: 2px solid rgba(169, 169, 169, 0.5); 
    padding: 5px; 
    border-radius: 5px; 
}

.imgdocumento {
    width: 80%; 
    height: auto; 
}

.texto-resumen {
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-color: #007bff;
}